#test{
    background: pink !important;
}

.btn2{
    width: fit-content;
    height: 30px;
}

header{
    width: auto;
    height: 20%;
}

aside{
    width: 20%;
    height: 80%;
    border-right: 1px solid black;
    float: left;
}

section{
    width: 50%;
    height: auto;
    float: left;
    margin-left: 10%;
    margin-top: 3%;
}

.upnavvar{
    background-color: rgba(104, 228, 255, 1);
}

.downnavvar{
    background-color: rgba(217, 217, 217, 1);
}

h3{
    color: white;
    font-style: italic;
}


.AsideVar li{
    margin-top: 5%;
    margin-left: 5%;
    font-size: large;
}

.AsideVar button{
    margin-left: 5%;
    background-color: rgba(217, 217, 217, 1);
    margin-top: 10%;
}